.container {
  margin: 0 10%
}

h1, h2, p {
  font-family: 'Roboto', sans-serif;
}

.atf {
  position: relative;
}

#cover {
  /* The image used */
  background-image: url("./images/Cover3.jpg");
  opacity: 0.8;

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta {
  position: absolute;
  top: 0;
  left: 0
}

.cta img {
  display:block;
  margin:auto;
  padding-top: 20vh;
}

.cta h2 {
  width: 60%;
  margin: auto;
}

.cta .center {
  margin: 5% 43%
}

h1 {
  text-align: center;
  margin: 5% 0 0 0
}

p {
  text-align: center;
  margin: 1% 0 5% 0;
}

.col {
  display: inline-block;
  font-size: 16px;
  margin: 1.5%;
  width:30%;
  position: relative;
}
.col img {
  display:block;
  margin:auto;
  width: 50%
}
.col h3 {
  text-align: center;
}

.rev img{
  width: 15%;
  float: left
}
