/*font-family: 'Roboto', sans-serif;*/
.container {
  margin: 0 10%
}

.atf {
  /* The image used */
  background-image: url("./images/Cover3.jpg");

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.atf img {
  display:block;
  margin:auto;
  padding-top: 20vh
}

.atf h2 {
  margin: auto;
  width: 60%;
  font-family: 'Roboto', sans-serif;
}

.atf .center {
  margin: 5% 43%
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 5% 0
}

p {
  font-family: 'Roboto', sans-serif;
}
.req {
  display: inline-block;
  margin: 1.5%;
  width:30%
}
.req img {
  display:block;
  margin:auto;
  width: 70%
}
.req h2 {
  text-align: center;
}

.req {
  font-size: 18px;
}
