/*font-family: 'Roboto', sans-serif;*/
.atf {
  /* The image used */
  background-image: url("./images/Cover3.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.atf img {
  display:block;
  margin:auto;
}

.atf h2 {
  margin: auto;
  width: 50%
}

.atf .center {
  margin: 1% 43%
}
